﻿@model List<Lab09.Controllers.Author>

<div class="row">
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>Author Id</th>
            <th>Author Name</th>
            <th>Author Age</th>
        </tr>

        @{ 
            foreach(var author in Model)
            {
                <tr>
                    <td>@author.Id</td>
                    <td>@author.Name</td>
                    <td>@author.Age</td>
                </tr>

            }
        }

    </table>
</div>